/* for mobile 
 */
@media screen and (max-width: 576px) {
  .nav-container {
    flex-direction: column;
    margin-top: 50px;
  }
  .menu-container {
    flex-direction: column;
    margin-top: -50px;
    gap: 25px;
  }

  /* banner section  */
  .banner-container {
    flex-direction: column;
    flex-direction: column-reverse;
    margin-top: 360px;
  }
  .banner-content {
    width: 100%;
    /* text-align: center; */
  }
  .banner-image {
    width: 100%;
    margin-bottom: 20px;
  }
  .banner-headings {
    width: 90%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 85px;
    /* text-align: center; */
  }

  /* gamer section  */
  .gamer-container {
    flex-direction: column;
    /* margin-top: 250px; */
    height: auto;
  }
  .gamer-image{
    width: 100%;
  }
  .gamer-content{
    width: 100%;
}
  .gamer-headings{
    width: 100%;
    text-align: center;
  }
  .gamer-headings h2{
  font-size: 1rem;
  }

  /* funny videos section  */

  .card-container{
    height: auto;
    width: 90%;
    flex-direction: column;
  }
  .funny-games-content h1{
    font-size: 1.7rem;
  }
  .funny-games-content p{
    font-size: 0.8rem;
  }
  .card{
    max-width: 90%;
  }

  /* offline game section  */

  .offline-section{
    width: 90%;
    height: auto;
  }
  .offline-container{
    flex-direction: column;
    margin-left: 0px;
    height: auto;
  }
  .offline-content{
    max-width: 100%;
  
  }
  .offline-heading{
    max-width: 100%;
    text-align: center;
    margin-bottom: 15px;
  
  }
  .offline-image{
    max-width: 100%;
    height: auto;
    margin: 0;
    padding-left: 30px;
  }
  .upper-image{
    /* padding-left: 30px; */
    right: 60%;
    border: none;
    border-top: 5px solid white;
    border-radius: 14px;
  }

    /* online game section  */

    .online-section{
      width: 90%;
      height: auto;
    }
    .online-container{
      flex-direction: column;
      margin-left: 0px;
      height: auto;
    }
    .online-content{
      max-width: 100%;
    
    }
    .online-heading{
      max-width: 100%;
      text-align: center;
      margin-bottom: 15px;
    
    }
    .online-image{
      max-width: 100%;
      height: auto;
      margin: 0;
      padding-right: 30px;
    }
    .upper-image2{
      padding-right: 30px;
      left: 60%;
      border: none;
      border-top: 5px solid white;
      border-radius: 14px;
    }
    .online-heading h1{
      font-size: 2rem;
      }
      .online-heading p{
font-size: 0.8rem;
margin-bottom: -80px;
      }

      /* career section  */
      .career-container{
        flex-direction: column;
        height: auto;
        gap: 20px;
      }
      .career-content{
        max-width: 100%;
        height: auto;
      }
      .career-image{
        max-width: 100%;
        height: auto;
      }

      /* icons section  */
      .icon-section{
        height: auto;
      }
      .icon-container{
        max-width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 15px;
        justify-content: center;
        align-content: center;
      }
      .game-genre{
        gap: 5px;
        padding-left: 10px;
        margin-bottom: 10px;
      }
      .game-genre p{
      font-size: 0.8rem;
      font-weight: 400;
      }
      .game-genre img{
        height: 30px;
        width: 30px;
      }


}






/* for tablets  */

@media screen and (min-width: 576px) and (max-width: 991px) {
  .nav-container {
    flex-direction: column;
    margin-top: 50px;
  }
  .menu-container {
    gap: 60px;
  }

  /* banner section  */
  .banner-container {
    flex-direction: column;
    flex-direction: column-reverse;
    /* margin-top: 600px; */
    height: auto;
  }
  .banner-content {
    width: 100%;
    /* text-align: center; */
  }
  .banner-image {
    width: 100%;
    margin-bottom: 20px;
  }
  .banner-headings {
    width: 90%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 280px;
  }

  /* gamer section  */
  .gamer-container{
    padding: 0 5px;
    height: auto;

}
.gamer-content{
    width: 45%;
}
.gamer-image{
    width: 55%;
    height: 100%;
}
.gamer-headings{
    width: 95%;
}
.gamer-headings h1{
padding-top: 60px;
font-size: 1.6rem;
}
.gamer-info{
  color: #534C64;
font-size: 0.7rem;
font-weight: 400;
}
.info{
  color: #534C64;
font-size: 1rem;
font-weight: 400;
margin: 15px 0;
}
.gamer-headings h2{
  color: #534C64;
font-size: 1.2rem;
font-weight: 700;
}

/* funny videos section  */
.card-container{
  height: auto;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.funny-games-content h1{
  font-size: 1.7rem;
}
.funny-games-content p{
  font-size: 0.8rem;
}
.card{
  max-width: 90%;
}

  /* offline game section  */

  .offline-section{
    width: 90%;
    height: auto;
  }
  .offline-container{
    margin-left: 0px;
    height: auto;
  }
  .offline-content{
    max-width: 40%;
  
  }
  .offline-heading{
    max-width: 100%;
    text-align: center;
    margin-bottom: 15px;
    margin-right: 20px;
  
  }
  .offline-image{
    max-width: 45%;
    height: auto;
    margin: 0;
    padding-left: 30px;
  }
  .upper-image{
    /* padding-left: 30px; */
    right: 60%;
    border: none;
    border-top: 5px solid white;
    border-radius: 14px;
  }
  .offline-heading h1{
    font-size: 1.9rem;
    font-weight: 800;
    margin-bottom: 15px;
    }
    .offline-heading p{
      color: #534C64;
    font-weight: 400;
    font-size: 0.8rem;
    }

      /* online game section  */

  .online-section{
    width: 90%;
    height: auto;
  }
  .online-container{
    margin-left: 0px;
    height: auto;
  }
  .online-content{
    max-width: 40%;
  
  }
  .online-heading{
    max-width: 100%;
    text-align: center;
    margin-bottom: 15px;
    margin-right: 20px;
  
  }
  .online-image{
    max-width: 45%;
    height: auto;
    margin: 0;
    padding-left: 30px;
  }
  .upper-image2{
    /* padding-left: 30px; */
    right: 60%;
    border: none;
    border-top: 5px solid white;
    border-radius: 14px;
  }
  .online-heading h1{
    font-size: 1.9rem;
    font-weight: 800;
    margin-bottom: 15px;
    }
    .online-heading p{
      color: #534C64;
    font-weight: 400;
    font-size: 0.8rem;
    }

          /* career section  */
          .career-container{
            height: auto;
          }
          .career-content{
            max-width: 60%;
            height: auto;
          }
          .career-image{
            max-width: 40%;
            height: auto;
          }
          .career-headings{
            padding-bottom: 20px;
          }

}
