@media screen and (max-width: 576px) {
    .nav-container{
        flex-direction: column;
        margin-top: 50px;
    }
    .menu-container{
        flex-direction: column;
        margin-top: -50px;
        gap: 25px;
    }
    
}


/* for tablets  */

@media screen and (min-width: 576px) and (max-width: 991px) {

    .nav-container{
        flex-direction: column;
        margin-top: 50px;
    }
    .menu-container{
        gap: 60px;
    }

    
}