@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Poppins:wght@400;700;800&family=Work+Sans:wght@400;600;700;800&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

.btn-primary{
    background-color:  #FF42A5;
    padding: 10px 20px;
    border: none;
    border-radius: 18px;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    margin-right: 10px;
    margin-top: 20px;
    cursor: pointer;


}

/* navbar section  */
.nav-container {
  background-color: white;
  min-height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 110px;
}
.nav-img-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.nav-img-container img {
  width: 50%;
  height: 28px;
  object-fit: cover;
}
.nav-img-container h1 {
  font-size: 2rem;
  font-weight: 800;
  color: black;
}
.nav-img-container span {
  color: #ff42a5;
}
.menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.menu-container a {
  text-decoration: none;
  color: #3c354f;
  font-size: 1rem;
  font-weight: 400;
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 10px 20px;
}
.fa-youtube {
  color: red;
  font-size: 22px;
}
.fa-tiktok {
  color: black;
  font-size: 16px;
}

/* banner section starts  */
.banner-container {
  height: 440px;
  margin-top: 15px;
  display: flex;
}
.banner-content {
  background-image: linear-gradient(
      223deg,
      rgba(140, 87, 238, 0.03) 0%,
      rgba(241, 68, 174, 0.03) 100%
    ),
    url("../images/Group\ 14.png");
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-headings{
    width: 50%;
}
.banner-starting-title {
  color: #0b0223;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 12px;
}
.banner-title {
  background-image: linear-gradient(to bottom, #f948b2, #8758f1);
  color: transparent;
  -webkit-background-clip: text;
  font-size: 4rem;
  font-weight: 800;
}
.banner-content p{
    color: #534C64;
text-align: left;
font-size: 1rem;
font-weight: 400;
margin: 10px 0px;
}
.banner-image {
  width: 50%;
  object-fit: cover;
  background: rgba(211, 211, 211, 0.137)
}
.banner-image img {
  width: 90%;
  height: 100%;
}
.fa-circle-play, .fa-download{
    color: #FF42A5;
}
#btn2{
    background-color:  #4EC5F7;
}

/* gamer section  */

.gamer-container{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px;

}
.gamer-content{
    width: 40%;
}
.gamer-image{
    width: 60%;
    height: 100%;
}
.gamer-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gamer-headings{
    width: 90%;
    text-align: right;
}
.gamer-headings h1{
    background-image: linear-gradient(to bottom, #f948b2, #8758f1);
    color: transparent;
    -webkit-background-clip: text;
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 15px;
}
.gamer-info{
  color: #534C64;
font-size: 0.85rem;
font-weight: 400;
}
.info{
  color: #534C64;
font-size: 1.1rem;
font-weight: 400;
margin: 15px 0;
}
.gamer-headings h2{
  color: #534C64;
font-size: 1.4rem;
font-weight: 700;
}


/* funny videos section  */
.funny-games-content h1{
  color: #0B0223;
font-size: 2.4rem;
font-weight: 800;
text-align: center;
margin: 50px 0 10px;
}
.funny-part{
  background-image: linear-gradient(to bottom, #f948b2, #8758f1);
  color: transparent;
  -webkit-background-clip: text;
}
.funny-games-content p{
  color: #534C64;
text-align: center;
font-weight: 400;
}

.card-container{
  max-width: 80%;
  min-height: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.card{
  max-width: 25%;
  height: auto;
  margin-top: 25px;
}
.card-img{
  width: 100%;
  height: 280px;
  background-image: url("../images/Rectangle\ 4.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 13px;
  margin-bottom: 15px;
}
.card-img2{
  width: 100%;
  height: 280px;
  background-image: url("../images/Rectangle\ 5.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 13px;
  margin-bottom: 15px;
}
.card-img3{
  width: 100%;
  height: 280px;
  background-image: url("../images/Rectangle\ 7.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 13px;
  margin-bottom: 15px;
}
.card-img4{
  width: 100%;
  height: 280px;
  background-image: url("../images/Rectangle\ 6.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 13px;
  margin-bottom: 15px;
}
.card{
  color: #534C64;
font-weight: 400;
}

.overlay{
  width: 100%;
  height: 280px;
  background-color: #0b0223c2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #f948b2;
  opacity: 0;
  border: 3px solid  #f948b2;
  border-radius: 13px;
}
.overlay p{
  text-align: center;
font-family: Work Sans;
font-weight: 600;
margin-top: 10px;
}
.fa-circle-play{
  color: white;
  font-size: 1.8rem;
}

.card-img:hover .overlay{
  opacity: 1;
  cursor: pointer;
}

.overlay2{
  width: 100%;
  height: 280px;
  background-color: #0b0223c2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #f948b2;
  opacity: 0;
  border: 3px solid  #f948b2;
  border-radius: 13px;
}
.overlay2 p{
  text-align: center;
font-family: Work Sans;
font-weight: 600;
margin-top: 10px;
}

.card-img2:hover .overlay2{
  opacity: 1;
  cursor: pointer;
}

.overlay3{
  width: 100%;
  height: 280px;
  background-color: #0b0223c2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #f948b2;
  opacity: 0;
  border: 3px solid  #f948b2;
  border-radius: 13px;
}
.overlay3 p{
  text-align: center;
font-family: Work Sans;
font-weight: 600;
margin-top: 10px;
}

.card-img3:hover .overlay3{
  opacity: 1;
  cursor: pointer;
}

.overlay4{
  width: 100%;
  height: 280px;
  background-color: #0b0223c2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #f948b2;
  opacity: 0;
  border: 3px solid  #f948b2;
  border-radius: 13px;
}
.overlay4 p{
  text-align: center;
font-family: Work Sans;
font-weight: 600;
margin-top: 10px;
}

.card-img4:hover .overlay4{
  opacity: 1;
  cursor: pointer;
}

/* offline game section  */

.offline-section{
  max-width: 80%;
  height: 500px;
  margin: 0 auto;
}
.offline-container{
  margin-left: 53px;
  max-width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;

}
.offline-content{
  max-width: 30%;
  display: flex;

}
.offline-heading{
  max-width: 100%;
  text-align: right;

}
.offline-image{
  max-width: 70%;
  height: 500px;
  text-align: right;
  margin-left: 260px;
  position: relative;
}
.offline-image img{
width: 100%;
height: 100%;
border-radius: 10px;
object-fit: cover;

}
.offline-heading h1{
font-size: 2.3rem;
font-weight: 800;
margin-bottom: 15px;
}
.offline-heading p{
  color: #534C64;
font-weight: 400;
}
.short-play{
  background-image: linear-gradient(to bottom, #f948b2, #8758f1);
  color: transparent;
  -webkit-background-clip: text;
}
.upper-image{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 52%;
  width: 50%;
  top: 55%;
  right: 75%;
  border-right: 7px solid white;
  border-left: 7px solid white;
  border-radius: 15px;
}

/* online game section  */
.online-section{
  max-width: 80%;
  height: 500px;
  margin: 0 auto;
}
.online-container{
  margin-left: -220px;
  max-width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  margin-top: 110px;
  gap: 80px;

}
.online-content{
  max-width: 30%;
  display: flex;
  margin-left: 50px;

}
.online-heading{
  max-width: 100%;
  text-align: left;

}
.online-image{
  max-width: 70%;
  height: 500px;
  text-align: right;
  margin-left: 260px;
  position: relative;
}
.online-image img{
width: 100%;
height: 100%;
border-radius: 10px;
object-fit: cover;

}
.online-heading h1{
font-size: 2.3rem;
font-weight: 800;
margin-bottom: 15px;
}
.online-heading p{
  color: #534C64;
font-weight: 400;
}
.short-play{
  background-image: linear-gradient(to bottom, #f948b2, #8758f1);
  color: transparent;
  -webkit-background-clip: text;
}
.upper-image2{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 50%;
  width: 59%;
  top: 65%;
  left: 75%;
  border-right: 7px solid white;
  border-left: 7px solid white;
  border-radius: 15px;
  object-fit: cover;
}

/* career section  */
.career-container{
  max-width: 100%;
  height: 500px;
  margin-top: 130px;
  background: linear-gradient(90deg, #ff42a4f4 0%, #ff42a4ef 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.career-content{
  max-width: 55%;
  /* min-height: 400px; */
  height: 500px;
}
.career-image{
  max-width: 45%;
  height: 500px;
}
.career-image img{
  width: 100%;
  height: 100%;
}
.career-headings{
  max-width: 80%;
  margin: 0 auto;
  padding: 15x 0; 
  padding-left: 30px;
  /* padding-bottom: 20px; */
}
.career-headings h1{
  color: #FFF;
  font-size: 2.3rem;
  font-weight: 800;
  padding-top: 20px;
  margin-bottom: 20px;
}
.career-headings p{
  color: #FFF;
font-weight: 400;
max-resolution: 20px 0;
}
.careers p{
  color: #FFF;
font-size: 0.9rem;
font-weight: 600;
}
.careers{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  margin: 15px 0;
  gap: 15px;
  margin-top: 25px;
}
#btn3{
  background-color: white;
  color: #FF42A5;
}

/* icons section  */
.icon-section{
  max-width: 100%;
  min-height: 300px;
}
.icon-container{
  max-width: 90%;
  min-height: 280px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  align-content: center;
}
.game-genre{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.game-genre p{
  color: #0B0223;
font-size: 1rem;
font-weight: 600;
}
.game-genre img{
  height: 40px;
  width: 40px;
}

.game-genre:hover{
  border: 2px solid  #FF42A5;
  padding: 5px 8px;
  border-radius: 40px;
}
.game-genre:hover p{
  color: #FF42A5;
}
